.pp-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 5%;
    border: 1px solid var(--red);
}

.tac-container{
    padding: 35px;
}

.tac-container h2{
    text-align: center;
    font-size: 40px;
    background-color: var(--red);
    color: var(--white);
    margin: 2%;
}

.tac-container h1{
    font-size: 30px;
}

.tac-container p{
    text-align: justify;
}